<div class="child-section">
    <div class="section-title">H. Services</div>
  
    <!-- Carpenter Section -->
    <div class="content-section">
      <div class="paint-section">
        <div class="section-subtitle">Carpenter</div>
        <div class="field-container">
          <div class="field">
            <label class="label-text">Numbers</label>
            <input type="number" class="form-input" formControlName="number" placeholder="Number"/>
          </div>
          <div class="field">
            <label class="label-text">Days</label>
            <input type="text" class="form-input" formControlName="days" placeholder="Days"/>
          </div>
          <div class="field">
            <label class="label-text">Amount</label>
            <input type="number" formControlName="Amount" class="form-input" placeholder="Amount" readonly/>
          </div>
          <div class="field">
            <label class="label-text">Remarks</label>
            <input type="text" formControlName="Remarks" class="form-input" placeholder="Remarks"/>
          </div>
          <div class="field">
            <label class="label-text">Note</label>
            <input type="text" formControlName="note" class="form-input" placeholder="Note" readonly/>
          </div>
        </div>
      </div>
    </div>
  
    <!-- Electrician Section -->
    <div class="content-section">
      <div class="paint-section">
        <div class="section-subtitle">Electrician</div>
        <div class="field-container">
          <div class="field">
            <label class="label-text">Numbers</label>
            <input type="number" class="form-input" formControlName="number" placeholder="Number"/>
          </div>
          <div class="field">
            <label class="label-text">Days</label>
            <input type="text" class="form-input" formControlName="days" placeholder="Days"/>
          </div>
          <div class="field">
            <label class="label-text">Amount</label>
            <input type="number" formControlName="Amount" class="form-input" placeholder="Amount" readonly/>
          </div>
          <div class="field">
            <label class="label-text">Remarks</label>
            <input type="text" formControlName="Remarks" class="form-input" placeholder="Remarks"/>
          </div>
          <div class="field">
            <label class="label-text">Note</label>
            <input type="text" formControlName="note" class="form-input" placeholder="Note" readonly/>
          </div>
        </div>
      </div>
    </div>
    <div class="sectionTotal" style="width: 50%; margin-top: 10px; margin-bottom: 10px; float: right;">
        <label class="label-text">Section Total Services G</label>
        <input type="number" formControlName="sectionTotal" class="form-input" placeholder="Total"/>
      </div>
    </div>